{% extends 'common.html' %}
{% block common %}

    <h4 style="text-align: center;color: cyan">Your name :{{ data.name }}</h4>

{% include 'stulogmenu.html' %}

    <table align="center" border="2" cellpadding="20px">
    <tr>
        <th>name</th>
        <th>faculty</th>
        <th>fee</th>
        <th>duration</th>
        <th>date</th>
        <th>time</th>
        <th>enroll</th>
    </tr>

        {% for x in res %}
        <tr>
        <th>{{ x.name }}</th>
        <th>{{ x.faculty }}</th>
        <th>{{ x.fee }}</th>
        <th>{{ x.duration }}</th>
            <th>{{ x.date }}</th>
            <th>{{ x.time }}</th>
        <th><a href="{% url 'save' %}?cid={{ x.id }}&sid={{ data.id }}"> yes</a> </th>
{#            <form action="{% url 'save' %}?cid={{ x.id }}&sid={{ data.id }}"method="post">#}
{#                {% csrf_token %}#}
{#        <th><button type="submit">yes</button></th></form>#}
        </tr>
            {% if msg %}
                <tr><th>{{ x }}</th></tr>
                {% endif %}

        {% endfor %}





    </table>

</form>
{% endblock %}
